.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  backdrop-filter: blur(3px);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: solid 1px rgb(50, 27, 31);
  background-color: hsla(332, 63%, 76%, 0.9);

  padding: 0;
  margin: 0;
}